*
{
    /* removing all default margins that search engines initialize (usually 10 0) */
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


/*--------------------THIS SECTION IS FOR THE NAV BAR AND TOP OF THE SCREEN--------------------*/

body
{
    font-family: 'Poppins';
    background-color: black;
    /* to remove excess whitespace and the scroll bar */
    overflow-x: hidden;
    overflow-y: hidden;
}

/* */
header
{
    /* these settings are so the nav bar takes up all the space it needs. */
    height: 100vh;
    width: 100vw;
    /* background-image: url(img/landscape.jpg); */
    /* notice that it doens't load up on legacy/live servers. */
    background-size: cover;
}

.navbar 
{
    position: absolute;
    margin: 50px;       /* 30px of space in each direction, all around */
    display: flex;      /* to align the elements with the ADVENTURE title */
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    top: -4.5vh;
}

.navbar a
{
    color: white;
}

.navbar .logo
{
    font-size: 2em;     /*   em generally means the point size of the font in question    */
    font-weight: bold;
    margin-left: 2vw;
}


.navbar .nav-links ul 
{
    display: flex;      /* this puts the nav-link elements side by side instead of being stacked on each other */
    margin-right: 5vw;
}

.navbar .nav-links ul li
{
    margin: 0 10px;     /* 0 margin on top & bottom, 60px of margin on left & right */
}

.navbar .nav-links ul li a
{
    /* we can't put these in header ul li as they target the text */
    text-decoration: none;

    /* this is extra padding (15px on the side plus the 10px from the previous selector) */
    padding: 6px 15px;
    color: #fff;
    /* after hovering over the menu item, make the white background rounded */
    border-radius: 20px;
}

/* this targets the HOME button */
.navbar .nav-links ul li.active a
{
    color: #ed3c57;
    font-weight: 600;
    transition: 0.3s;
}

.navbar .nav-links ul li.active a:hover
{
    background: #fff;
}

.navbar .menu-hamburger 
{
    /* we only want the hamburger menu to display when the screen size width is 900px and below. */
    display: none;
    position: absolute;
    top: 10px;
    right: 75px;
    width: 35px;
}


/*--------------------THIS SECTION IS FOR THE BUTTON AND THE TITLE IN THE MIDDLE--------------------*/

/* this is for the big california text and link in the middle of the page  */
.content
{
    /*  this destroys hovering on the home page functionality
    display: block;
    position: relative;
    */
    padding: 9vh 20vw;
    text-align: center;
}


/* this is for "make date night a priority" text */
.content h1
{
    font-size: 40px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s;
}


/* to create hover effect 
.content h1:hover
{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}
*/

/* this is for "unlock a core memory" text */
.content h2
{
    font-size: 25px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}

/* for "select a state" button*/
.content a
{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 35px;
    border: 2px solid #fff;
    /* padding 14px on the top and bottom and 70 on the left and right*/
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 64.8vh;
    transition: 0.3s;
}

.content a:hover
{
    background: #fff;
    color: black;
}



/*--------------------THIS SECTION IS FOR HERO VIDEO--------------------*/

video
{
    position: absolute;
    top: 15vh;
    left: 5vw;
    width: 90vw;
    height: 70vh;
    object-fit: cover;
    display: block;
    
    /* set z-index to let the navbar and everything be infront of the video */
    z-index: -1;
}




/*--------------------THIS SECTION IS FOR MOBILE SCREENS--------------------*/

/* 
for any screen sizes below a width of 900px, 
lets hide the nav links and display a hamburger menu for mobile. 
*/
@media screen and (max-width: 900px)
{
    .navbar
    {
        padding: 0;
    }

    /* 
    this is to reposition the ADVENTURE text, but your code
    (a little different than the video) seems to do this already/
    */
    
    .navbar .logo
    {
        position:  absolute;
        top: 0px;
        left: 5px;
    }
    

    .navbar .menu-hamburger 
    {   /* why block and not flex here? */
        display: block;
    }

    .nav-links
    {   
            /* */
            top: -50px;
            left: -50px;
        
            /* 
            instead of displaying this on the screen, when the hamburger menu is 
            clicked these nav links will show.  
            */
            position: absolute;

            /* TIP: we can use background color to see how much 
            space (including margin) the targeted class takes up. */
            background-color: rgba(255, 255, 255, 0.299);

            /* to blur the background */
            backdrop-filter: blur(7px);
            /* 
            using width 100% so that the nav links can take up the whole screen 
            to mimic a different page.
            */

            width: 110%;
            height: 105vh;

            /*
            this allows the items to stack on top of each other and
            be in the middle of the page
            */
            display: flex;
            justify-content: center;
            align-items: center;

            /*
            the hamburger menu will start all the way to the left past the
            screen and will NOT be shown until the user clicks the hamburger menu.
            */
            margin-left: -110%; 

            transition: all 0.5s ease;

            
    }

    /*
    when someone clicks on the hamburger menu(the image), the 
    mobile menu will be shown
    */
    .nav-links.mobile-menu
    {
        margin-left: 0;
    }

    .nav-links ul
    {   /*  if you were to put these in .nav-links, they wouldn't work 
            since nav-links doesn't target each inidividual element. */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li
    {  
        /* 
        to add even MORE space (we already put 25px of margin on 
        the top and bottom but now we're adding another 25 on each side)
        between each element!
        */
        margin: 25px 0;
        font-size: 1.2em;
        }

    /*--------------------THIS SECTION IS FOR THE BUTTON AND THE TITLE IN THE MIDDLE (FOR MOBILE)--------------------*/

    /* this is for the big california text and link in the middle of the page  */
    .content
    {
        /*  this destroys hovering on the home page functionality
        display: block;
        position: relative;
        */
        padding: 9vh 20vw;
        text-align: center;
    }


    /* this is for "make date night a priority" text */
    .content h1
    {
        font-size: 25px;
        color: #fff;
        font-weight: 600;
        transition: 0.3s;
    }


    /* to create hover effect 
    .content h1:hover
    {
        -webkit-text-stroke: 2px #fff;
        color: transparent;
    }
    */

    /* this is for "unlock a core memory" text */
    .content h2
    {
        font-size: 20px;
        color: #fff;
        font-weight: 600;
        transition: 0.5s;
    }

    /* for "select a state" button*/
    .content a
    {
        text-decoration: none;
        display: inline-block;
        color: #fff;
        font-size: 20px;
        border: 2px solid #fff;
        /* padding 14px on the top and bottom and 70 on the left and right*/
        padding: 14px 70px;
        border-radius: 50px;
        margin-top: 50.8vh;
        transition: 0.3s;
    }

    .content a:hover
    {
        background: #fff;
        color: black;
    }

}



