*   
{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
    /*
        font-family: 'Open Sans', sans-serif;
    */
    scroll-behavior: smooth;
}

/* black backdrop with state name*/
header
{
    /* sizing */

    padding: 115px;
    font-size: 40px;
    /* position and color */
    display: block;
    position: relative;
    background-color: #1d1d1d;
    color: #eee;
}

/* big state title at top */
header h1
{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1.5em;
    text-align: center;
    letter-spacing: 0.1em;
}

/* WooMeNow woomenow Logo */
a img
{
    /* sizing */
    width: 16rem;
    height: auto;

    /* position & font */
    position: absolute;
    font-size: 2em;     /*   em generally means the point size of the font in question    */
    font-weight: bold;
    margin-left: 5%;
    top: 1rem;
    left: 0rem;
}



h2
{
    font-family: 'Allura', cursive;
    font-size: 55px;
    padding-top: -20%;
    text-align: center;
    color: #333;
}


/* Tampa */
.sec1
{
    /* sizing and positioning */
    position: relative;
    padding: 180px;

    /* image backdrop positioning */
    background-image:  linear-gradient(rgba(73, 73, 73, 0.4), rgba(255, 255, 255, 0.4)), url("img/floridacities/tampa.jpg"); 
    background-size: 100%;
    background-position: 50% 30%;

}

/* St.Pete */
.sec2
{
    /* sizing and positioning */
    position: relative;
    padding: 180px;

    /* image backdrop positioning */
    background-image:  linear-gradient(rgba(73, 73, 73, 0.2), rgba(255, 255, 255, 0.25)), url("img/floridacities/stpete2.jpg"); 
    background-size: cover;
    background-position: 100% 100%;
}

h2
{
    color: #eee;
    text-align: center;
    
}

/* Clearwater */
.sec3
{
    /* sizing and positioning */
    position: relative;
    padding: 180px;

    /* image backdrop positioning */
    background-image:  linear-gradient(rgba(53, 53, 53, 0.3), rgba(255, 255, 255, 0.3)), url("img/floridacities/clearwater.jpg"); 
    background-size: 100%;
    background-position: 0% 30%;
}

.sec3 h2
{
    white-space: nowrap;
}


/* Miami */
.sec4
{
    /* sizing and positioning */
    position: relative;
    padding: 180px;
    
    /* image backdrop positioning */
    background-image:  linear-gradient(rgba(53, 53, 53, 0.3), rgba(255, 255, 255, 0.3)), url("img/floridacities/miami3.jpg"); 
    background-size: 100%;
    background-position: 50% 50%;
}

.sec4 h2
{
    color: #eee;
}

/*--------------------THIS SECTION IS FOR THE DINING & EXPERIENCES BUTTON--------------------*/

.dropdown
{
    /* set size of section */
    
    /* padding: 20px 90px; 20px on top/bottom, 7% on left and right*/
    
    /* to center an unordered list if position relative/static 
    display: table;
    margin: 0 auto;
    text-align: center;
    margin-top: 5%;
    */
    
    
    /* to center an unordered list if position absolute OLD 
    z-index: 2;
    left: 42%;
    top: 75%;
    */

    /* to center an unordered list if position absolute NEW */
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    float: right;
    box-sizing: border-box;
    top: 75%;
    left: 42%;
    /* transform: translate(-50%, -50%); */
    text-align: center;
}

.dropdown .menu ul
{
    list-style: none;
    border-radius: 0.5em;
}

.dropdown .menu ul
{
    /*
    position: relative;
    */
    /* to rearrange the list from vertical top to bottom to horizontal left to right*/
    border-radius: 0.5em;    
}

/* for "dining" and "experiences" button */
.dropdown .menu ul a
{
    font-size: 20px;
    padding: 14px;
    margin: 5px;
    /* this sets the text color
    color: #333; 
    background-color: #eee;
    */
    display: block;
    /* 0.4em */
    border-radius: 50px;
    float: left;
    text-decoration: none;
    background-image: linear-gradient(to right,#e536ff,#af2efd,#7127f9); /* this sets the button color */
    box-shadow: 3px 3px 3px black;
}

/*--------------------THIS SECTION IS FOR MOBILE SCREENS--------------------*/
/*--------------------THIS SECTION IS FOR MOBILE SCREENS--------------------*/
/*--------------------THIS SECTION IS FOR MOBILE SCREENS--------------------*/
/*--------------------THIS SECTION IS FOR MOBILE SCREENS--------------------*/
/*--------------------THIS SECTION IS FOR MOBILE SCREENS--------------------*/

/* 
for any screen sizes below a width of 900px, 
lets hide the nav links and display a hamburger menu for mobile. 
*/
@media screen and (max-width: 480px)
{
    /* black backdrop with state name*/
    body
    {
        overflow-x: hidden;
    }
    header
    {
        /* sizing */
        padding: 50px;
        font-size: 40px;

        /* position and color */
        display: block;
        position: relative;
        background-color: #1d1d1d;
        color: #eee;
    }

    /* big state title at top */
    header h1
    {
        font-size: 1.3em;
        text-align: center;
    }

    .img
    {
        position: relative;
        z-index: 2;
    }
    /* WooMeNow woomenow Logo */
    a img
    {
        /* sizing */
        width: 8rem;
        height: auto;

        /* position & font */
        position: absolute;
        font-size: 2em;     /*   em generally means the point size of the font in question    */
        font-weight: bold;
        margin-left: 5%;
        top: 1rem;
        left: 0rem;
    }

    /* Tampa */
    .sec1
    {
        /* sizing and positioning */
        position: relative;
        padding: 120px;

        /* image backdrop positioning */
        background-size: 150%;
        background-position: none;

    }

    /* St.Pete */
    .sec2
    {
        /* sizing and positioning */
        position: relative;
        padding: 120px;

        /* image backdrop positioning */
        background-size: 150%;
        background-position: none;
    }

    /* Clearwater */
    .sec3 h2
    {   
        font-size: 3em;
        display: inline;
        text-align: center;
        word-wrap: nowrap;
    }

    .sec3
    {
        /* sizing and positioning */
        position: relative;
        padding: 120px;

        /* image backdrop positioning */
        background-size: 150%;
        background-position: 0% 30%;
    }

    /* Miami */
    .sec4
    {
        /* sizing and positioning */
        position: relative;
        padding: 120px;
        
        /* image backdrop positioning */
        background-size: 150%;
        background-position: 50% 50%;
    }

/*--------------------THIS SECTION IS FOR THE DINING & EXPERIENCES BUTTON--------------------*/

    .dropdown
    {
        /* to center an unordered list if position absolute NEW */
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        float: right;
        box-sizing: border-box;
        top: 75%;
        left: 31%;
        /* transform: translate(-50%, -50%); */
        text-align: center;
    }

    /* for "dining" and "experiences" button */
    .dropdown .menu ul a
    {
        font-size: 12px;
        padding: 7px;
        margin: 5px;
        
        /* this sets the text color*/
        color: #333; 
        display: block;
        /* 0.4em */
        border-radius: 50px;
        float: left;
        text-decoration: none;
    }

    

}

/*--------------------THIS SECTION IS FOR TABLET SCREENS--------------------*/
/*--------------------THIS SECTION IS FOR TABLET SCREENS--------------------*/
/*--------------------THIS SECTION IS FOR TABLET SCREENS--------------------*/
/*--------------------THIS SECTION IS FOR TABLET SCREENS--------------------*/
/*--------------------THIS SECTION IS FOR TABLET SCREENS--------------------*/
@media (min-width: 481px) and (max-width: 1024px) 
/* @media screen and (max-width: 1024px) */
{
    
    .dropdown
    {
        /* to center an unordered list if position absolute NEW */
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        float: right;
        box-sizing: border-box;
        top: 75%;
        left: 34.5%;
        /* transform: translate(-50%, -50%); */
        text-align: center;
    }
}