*
{
    /* removing all default margins that search engines initialize (usually 10 0) */
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}


/*--------------------THIS SECTION IS FOR THE NAV BAR AND TOP OF THE SCREEN--------------------*/

body
{
   
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    background-image:  linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25)), url("img/backdrop2.jpg"); 
    /* background-color: black; */
    /* to remove excess whitespace and the scroll bar */
    overflow-x: hidden;
    /* overflow-y: hidden; */
}



/*--------------------THIS SECTION IS FOR DESKTOP/LAPTOP SCREENS--------------------*/
/*--------------------THIS SECTION IS FOR DESKTOP/LAPTOP SCREENS--------------------*/
/*--------------------THIS SECTION IS FOR DESKTOP/LAPTOP SCREENS--------------------*/
/*--------------------THIS SECTION IS FOR DESKTOP/LAPTOP SCREENS--------------------*/
/*--------------------THIS SECTION IS FOR DESKTOP/LAPTOP SCREENS--------------------*/


header
{
    /* these settings are so the nav bar takes up all the space it needs. */
    height: 100%;
    width: 100%;
    /* background-image: url(img/landscape.jpg); */
    /* notice that it doens't load up on legacy/live servers. */
    background-size: cover;
}

.navbar 
{
    position: absolute;
    margin: 50px;       /* 50px of space in each direction, all around */
    display: flex;      /* to align the elements with the ADVENTURE title */
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    margin-top: -2.5vh;
}

.navbar a
{
    color: white;
}

.navbar .logo-pic
{
    width: 70%;
    height: 100%;
    font-size: 2em;     /*   em generally means the point size of the font in question    */
    font-weight: bold;
    margin-left: 2vw;
    margin-top: 4vh;  
}

.nav-links
{
    margin-top: 2%;
}

.navbar .nav-links ul 
{
    display: flex;      /* this puts the nav-link elements side by side instead of being stacked on each other */
    margin-right: 5vw;
}

.navbar .nav-links ul li
{
    margin: 0 10px;     /* 0 margin on top & bottom, 60px of margin on left & right */
}

.navbar .nav-links ul li a
{
    /* we can't put these in header ul li as they target the text */
    text-decoration: none;

    /* this is extra padding (15px on the side plus the 10px from the previous selector) */
    padding: 8px 15px;
    color: #fff;
    /* after hovering over the menu item, make the white background rounded */
    border-radius: 20px;
}

/* this targets the HOME button */
.navbar .nav-links ul li.active a
{
    /* color: #ed3c57; */
    font-weight: 600;
    transition: 0.3s;
}

.navbar .nav-links ul li.active a:hover
{
    background: #fff;
}

.navbar .menu-hamburger 
{
    /* we only want the hamburger menu to display when the screen size width is 900px and below. */
    display: none;
    position: absolute;
    top: 10px;
    right: 75px;
    width: 35px;
}


/*--------------------THIS SECTION IS FOR THE BUTTON AND THE TITLE IN THE MIDDLE--------------------*/

.content
{
    padding: 7vh 20vw;
    text-align: center;
}


/* this is for "Find Trending Date Night Spots Loved by Locals!" text */
.content h1
{
    font-size: 32px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s;
    margin-top: 2%;
}



/* for content whitespace */
.content a
{
    display: block;
    font-size: 35px;
    /* padding 14px on the top and bottom and 70 on the left and right*/
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 75vh;
}


/*--------------------THIS SECTION IS FOR THE DROPDOWN MENU--------------------*/

.dropdown
{
    position: absolute;
    top: 89%;
    left: 46%;
    /* padding: 20px 90px; 20px on top/bottom, 7% on left and right*/
    display: flex;
    z-index: 1;
}

.dropdown .menu ul
{
    list-style: none;
    border-radius: 0.5em;
}

.dropdown .menu ul li
{
    position: relative;
    /* to rearrange the list from vertical top to bottom to horizontal left to right*/
    /* float: left; */
    background-color: #eee;
    border-radius: 0.5em;
}

.dropdown .menu ul li a
{
    font-size: 20px;
    padding: 20px;
    /* color: #333; */ /* this sets the text color*/
    display: block;
    border-radius: 0.5em;


}

.dropdown .menu ul li a:hover
{
    background: #fff;
}

/* this targets florida, texas, etc. */
.dropdown .menu ul li ul
{
    position: absolute;
    left: 0;
    top: -445%;
    width: 200px;
    display: none;
    border-radius: 0.5em;

}

.dropdown .menu ul li ul li
{
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.1);

}

.dropdown .menu ul li ul li a
{
    border-radius: 0.5em;
}

.dropdown .menu ul li ul li ul
{
    left: 200px;
    top: 0;
}

/* 
focus within is when a user taps/clicks on that button 
*/
.dropdown .menu ul li:focus-within > ul,
.dropdown .menu ul li:hover > ul 
{
    display: initial;
}

/*--------------------THIS SECTION IS FOR 2nd DROPDOWN BUTTON  --------------------*/

.dropdown2
{
    position: absolute;
    top: 84%;
    left: 30%;
    display: flex;
    /*
    align-items: center;
    justify-content: space-between;
    */
    z-index: 1;
}

.dropdown2 .menu ul
{
    list-style: none;
    border-radius: 0.5em;
}

.dropdown2 .menu ul li
{
    position: relative;
    /* to rearrange the list from vertical top to bottom to horizontal left to right*/
    /* float: left; */
    background-color: #eee;
    border-radius: 0.5em;
}

.dropdown2 .menu ul li a
{
    font-size: 20px;
    padding: 20px;
    /* color: #333; */ /* this sets the text color*/
    display: block;
    border-radius: 0.5em;


}

.dropdown2 .menu ul li a:hover
{
    background: #fff;
    

}

/* this targets florida, texas, etc. */
.dropdown2 .menu ul li ul
{
    position: absolute;
    left: 0;
    top: -445%;
    width: 200px;
    display: none;
    border-radius: 0.5em;

}

.dropdown2 .menu ul li ul li
{
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.1);

}

.dropdown2 .menu ul li ul li a
{
    border-radius: 0.5em;
}

.dropdown2 .menu ul li ul li ul
{
    left: 200px;
    top: 0;
}

/* 
focus within is when a user taps/clicks on that button 
*/
.dropdown2 .menu ul li:focus-within > ul,
.dropdown2 .menu ul li:hover > ul 
{
    display: initial;
}



/*--------------------THIS SECTION IS FOR HERO VIDEO--------------------*/

video
{
    position: absolute;

    /* backdrop ver.*/
    top: 16%;
    left: 5vw;
    width: 90vw;
    height: 70vh;
    

    /* full video ver (not patched for mobile
    width: 105vw;
    height: 105vh;
    margin-left: -3%;
    */
    

    object-fit: cover;
    display: block;
    
    /* set z-index to let the navbar and everything be infront of the video */
    z-index: -1;
}

/*--------------------THIS SECTION IS FOR INFLUENCERS TAB--------------------*/

.influencers
{
    
    width: 100%;
    position: relative;
    padding: 5% 25%;
    background-color: rgba(56, 56, 56, 0.5); 
    /* background-image: url("img/backdrop2.jpg"); */
}

.container
{
    margin: 20px 40px;
    color: white;
    
}

/* this is for "meet our local influencers! */
.heading
{
    display: inline;
    text-align: center;
    font-size: 60px;
    /* background-color: rgba(56, 56, 56, 0.5); */
    border-radius: 10px 10px 10px 10px;
    padding: 15px 15px;
    color: #fff;
}

.heading span 
{
    font-size: 30px;
}

.profiles
{
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
    margin-right: 50%;
}

.profile
{   /*  flex-basis CSS property sets the initial main size of a flex item */
    flex-basis: 180px;
}

.profile .profile-img 
{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    object-fit: cover;
    filter: grayscale(100%);
    cursor: pointer;
    transition: 400ms;
}

.profile:hover .profile-img
{
    filter: grayscale(0);
}

.user-name
{
    margin-top: 30px;
    font-size: 20px;
}

.profile h5
{
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 3px;
    color: #ccc;
}

/* for the "see locals near you!" button */
h3
{
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-size: 35px;
    border: 2px solid #fff;
    /* padding 14px on the top and bottom and 70 on the left and right*/
    padding: 14px 70px;
    font-weight: 200;

    margin-right: 50%;
    display: block;
    color: #fff;
    border-radius: 50px;
    transition: 0.3s;

}

h3:hover
{
    background: black;
    color: #fff;
}

.profile p
{
    font-size: 10px;
    margin-top: 20px;
    text-align: justify;
}


/*--------------------THIS SECTION IS FOR MOBILE SCREENS--------------------*/
/*--------------------THIS SECTION IS FOR MOBILE SCREENS--------------------*/
/*--------------------THIS SECTION IS FOR MOBILE SCREENS--------------------*/
/*--------------------THIS SECTION IS FOR MOBILE SCREENS--------------------*/
/*--------------------THIS SECTION IS FOR MOBILE SCREENS--------------------*/

/* 
for any screen sizes below a width of 900px, 
lets hide the nav links and display a hamburger menu for mobile. 
*/
@media screen and (max-width: 480px)
{

    html, body
    {
        /* to remove excess whitespace */
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    
    /* 
    this is to reposition the ADVENTURE text, but your code
    (a little different than the video) seems to do this already/
    */

    .navbar
    {
        position: relative;
        z-index: 2;
    }
    
    .navbar .logo-pic
    {
        width: 50%;
        height: 20%;
        font-size: 2em;     /*   em generally means the point size of the font in question    */
        font-weight: bold;
        margin-left: -6%;
        margin-top: 5vh;  
    }
    

    .navbar .menu-hamburger 
    {   /* why block and not flex here? */
        display: block;
        margin-top: 4vh;
        
    }

    .nav-links
    {   
            /* */
            top: -50px;
            left: -50px;
        
            /* 
            instead of displaying this on the screen, when the hamburger menu is 
            clicked these nav links will show.  
            */
            position: absolute;

            /* TIP: we can use background color to see how much 
            space (including margin) the targeted class takes up. */
            /* 
            don't use decimals, they're not supported on safari iOS 
            background-color: rgba(255, 255, 255, 0.299); 
            */
            background-color: rgba(49, 49, 49, 0.299);

            /* to blur the background, including the webkit fixed the blur effect on mobile hamburger menu*/
            -webkit-backdrop-filter: blur(7px);
            backdrop-filter: blur(7px);
            /* 
            using width 100% so that the nav links can take up the whole screen 
            to mimic a different page.
            */

            width: 105%;
            height: 125vh;
            
            /*
            this allows the items to stack on top of each other and
            be in the middle of the page
            */
            display: flex;
            justify-content: center;
            align-items: center;
        
            /*
            the hamburger menu will start all the way to the left past the
            screen and will NOT be shown until the user clicks the hamburger menu.
            */
            margin-left: -110%; 

            transition: all 0.5s ease;

            
    }

    /*
    when someone clicks on the hamburger menu(the image), the 
    mobile menu will be shown
    */
    .nav-links.mobile-menu
    {
        margin-left: 0;
    }

    .nav-links ul
    {   /*  if you were to put these in .nav-links, they wouldn't work 
            since nav-links doesn't target each inidividual element. */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li
    {  
        /* 
        to add even MORE space (we already put 25px of margin on 
        the top and bottom but now we're adding another 25 on each side)
        between each element!
        */
        margin: 25px 0;
        font-size: 1.2em;
    }

    /*--------------------TTHIS SECTION IS FOR TITLE AND WHITESPACE (FOR MOBILE)--------------------*/


    .content
    {
        /*  this destroys hovering on the home page functionality
        display: block;
        position: relative;
        */
        padding: 5vh 20vw;
        text-align: center;
        
    }


    /* this is for "Find Trending Date Night Spots Loved by Locals!" text (FOR MOBILE)  */
    .content h1
    {
        font-size: 20px;
        color: #fff;
        font-weight: 400;
        transition: 0.3s;
        margin-top: -30%;
    }

    /* for content whitespace */
    .content a
    {
        text-decoration: none;
        display: inline-block;
        color: black;
        font-size: 20px;
        border: 2px solid #fff;
        /* padding 14px on the top and bottom and 70 on the left and right*/
        padding: 7px 5px;
        border-radius: 50px;
        margin-top: 45vh;
        transition: 0.3s;
        opacity: 0;
    }

    /*--------------------THIS SECTION IS FOR THE DROPDOWN MENU (FOR MOBILE)--------------------*/

    .dropdown
    {
        position: absolute;
        top: 54.5%;
        left: 30%;
        display: flex;
        /*
        align-items: center;
        justify-content: space-between;
        */
        z-index: 1;
    }

    /* this targets pages and galleries*/
    .dropdown .menu ul li ul
    {
        position: absolute;
        left: 0;
        top: 100%;
        width: 200px;
        display: none;
        border-radius: 0.5em;
    }

    /*--------------------THIS SECTION IS FOR THE 2nd  DROPDOWN MENU (FOR MOBILE)--------------------*/


    .dropdown2
    {
        position: absolute;
        top: 80%;
        left: 20%;
        display: flex;
        /*
        align-items: center;
        justify-content: space-between;
        */
        z-index: 1;
    }
 
    /* --------------------THIS SECTION IS FOR THE VIDEO (FOR MOBILE)-------------------- */
    .video
    {
        padding-top: 8vh;
        width: 90vw;
        height: 25vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*--------------------THIS SECTION IS FOR INFLUENCERS TAB (FOR MOBILE)--------------------*/


    /* this is for "meet our local influencers! (FOR MOBILE) */
    .heading
    {
        display: inline;
        font-size: 20px;
        color: white;
        text-align: center;
        margin-right: 20%;
        /* background-color: rgba(56, 56, 56, 0.5); */
        border-radius: 10px 10px 10px 10px;
        padding: 10px;
        color: #fff;
    }

    .heading span
    {
        font-size: 15px;
    }

    .profiles
    {
        margin: 20px 0;
        flex-flow: row;
        margin-right: 50%;

    }
    
    .profile p
    {
        margin: 20px 10px 80px 10px;
        display: flex;
        
    }
    

    .profile .profile-img 
    {
        filter: grayscale(0%);    
    }
    
    .profile .profile-img 
    {
        height: 125px;
        width: 125px;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
        transition: 400ms;
    }
    
}



/*--------------------THIS SECTION IS FOR TABLET SCREENS--------------------*/
/*--------------------THIS SECTION IS FOR TABLET SCREENS--------------------*/
/*--------------------THIS SECTION IS FOR TABLET SCREENS--------------------*/
/*--------------------THIS SECTION IS FOR TABLET SCREENS--------------------*/
/*--------------------THIS SECTION IS FOR TABLET SCREENS--------------------*/
@media (min-width: 481px) and (max-width: 1024px) 
/* @media screen and (max-width: 1024px) */
{
    
    body
    {
        background-image:  linear-gradient(rgba(218, 15, 15, 0.5), rgba(218, 15, 15, 0.25)), url("img/backdrop2.jpg"); 
    }

    html, body
    {
        /* to remove excess whitespace */
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    
    /* 
    this is to reposition the ADVENTURE text, but your code
    (a little different than the video) seems to do this already/
    */

    .navbar
    {
        position: relative;
        z-index: 2;
    }
    
    .navbar .logo-pic
    {
        width: 50%;
        height: 20%;
        font-size: 2em;     /*   em generally means the point size of the font in question    */
        font-weight: bold;
        margin-left: -6%;
        margin-top: 5vh;  
    }
    

    .navbar .menu-hamburger 
    {   /* why block and not flex here? */
        display: block;
        margin-top: 4vh;
        
    }

    .nav-links
    {   
            /* */
            top: -50px;
            left: -50px;
        
            /* 
            instead of displaying this on the screen, when the hamburger menu is 
            clicked these nav links will show.  
            */
            position: absolute;

            /* TIP: we can use background color to see how much 
            space (including margin) the targeted class takes up. */
            /* 
            don't use decimals, they're not supported on safari iOS 
            background-color: rgba(255, 255, 255, 0.299); 
            */
            background-color: rgba(49, 49, 49, 0.299);

            /* to blur the background, including the webkit fixed the blur effect on mobile hamburger menu*/
            -webkit-backdrop-filter: blur(7px);
            backdrop-filter: blur(7px);
            /* 
            using width 100% so that the nav links can take up the whole screen 
            to mimic a different page.
            */

            width: 105%;
            height: 125vh;
            
            /*
            this allows the items to stack on top of each other and
            be in the middle of the page
            */
            display: flex;
            justify-content: center;
            align-items: center;
        
            /*
            the hamburger menu will start all the way to the left past the
            screen and will NOT be shown until the user clicks the hamburger menu.
            */
            margin-left: -110%; 

            transition: all 0.5s ease;

            
    }

    /*
    when someone clicks on the hamburger menu(the image), the 
    mobile menu will be shown
    */
    .nav-links.mobile-menu
    {
        margin-left: 0;
    }

    .nav-links ul
    {   /*  if you were to put these in .nav-links, they wouldn't work 
            since nav-links doesn't target each inidividual element. */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li
    {  
        /* 
        to add even MORE space (we already put 25px of margin on 
        the top and bottom but now we're adding another 25 on each side)
        between each element!
        */
        margin: 25px 0;
        font-size: 1.2em;
    }

    /*--------------------TTHIS SECTION IS FOR TITLE AND WHITESPACE (FOR TABLET)--------------------*/

    
    .content
    {
        /*  this destroys hovering on the home page functionality
        display: block;
        position: relative;
        */
        padding: 5vh 20vw;
        text-align: center;
        
    }


    /* this is for "Find Trending Date Night Spots Loved by Locals!" text (FOR TABLET)  */
    .content h1
    {
        font-size: 20px;
        color: #fff;
        font-weight: 400;
        transition: 0.3s;
        margin-top: -20%;
    }

     

    /*--------------------THIS SECTION IS FOR THE DROPDOWN MENU (FOR TABLET)--------------------*/

    .dropdown
    {
        position: absolute;
        top: 52.5%;
        left: 30%;
        display: flex;
        /*
        align-items: center;
        justify-content: space-between;
        */
        z-index: 1;
    }

    /* this targets pages and galleries*/
    .dropdown .menu ul li ul
    {
        position: absolute;
        left: 0;
        top: 100%;
        width: 200px;
        display: none;
        border-radius: 0.5em;
    }

    /*--------------------THIS SECTION IS FOR THE 2nd DROPDOWN MENU (FOR TABLET)--------------------*/


    .dropdown2
    {
        position: absolute;
        top: 80%;
        left: 20%;
        display: flex;
        /*
        align-items: center;
        justify-content: space-between;
        */
        z-index: 1;
    }


    /*--------------------THIS SECTION IS FOR INFLUENCERS TAB (FOR TABLET)--------------------*/

    .heading
    {
        font-size: 25px;
    }
    .profiles
    {
        flex-direction: row;
        
    }

    .profile
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile p
    {
        text-align: center;
        /* margin: 20px 60px 80px 60px; */
        font-size: 20px;
    }

    .profile .profile-img 
    {
        height: 125px;
        width: 125px;
        filter: grayscale(0%);    
    }

   


}
